:root {
  --primery-text-color: #434455;
  --title-text-color: #2e2f42;
  --accent-color: #4d5ae5;
  --hero-text-color: #ffffff;
}

.list {
  list-style: none;
}
/* 1 level of text--  #434455; */
/* 2 level of text--  #2E2F42;  */
/* color for white text-- #FFFFFF; */
/* accent color-- #4D5AE5 */
/* background level-1: #FFFFFF; */
/* background level-2: #F4F4FD; */

body {
  font-family: "Roboto", sans-serif;

  background-color: #ffffff;
  color: var(--primery-text-color);
  /* style logo */
}
/* .logo-web {
  color: var(--accent-color);

  font-family: "Raleway";

  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  width: 44px;
  height: 24px;
}
.logo-studio {
  color: var(--title-text-color);
  font-family: "Raleway";

  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  width: 71px;
  height: 24px;
} */

.logo{
  color:var(--title-text-color)
  font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.33;
}
.logo-web{
  color: var(--accent-color);
  font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.33;
}
/* /style logo */
/* nav-style */
.site-nav .link {
  color: var(--title-text-color);
}
.site-contact:hover,
.site-contact:focus {
  color: var(--primery-text-color);
}
/* /nav-style */
/* hero section */
.hero {
  background-color: var(--title-text-color);
}
.hero-title {
  color: var(--hero-text-color);
}
.hero-btn {
  background-color: var(--accent-color);
  color: var(--hero-text-color);
}
/* /hero section */
/* section style */
.section-title {
  color: var(--title-text-color);
}
.section-caption {
  color: var(--title-text-color);
}
/* /section style */
